@page "/not-found"
@layout MainLayout

<LayoutView Layout="@typeof(MainLayout)">
    <h3>404 - Page Not Found</h3>
    <p>Sorry, the page you’re looking for doesn’t exist.</p>
    <NavLink href="/">Back to Home</NavLink>
</LayoutView>